body {
    background-color: #242020;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.digits {
    font-size: 100px;
    font-weight: bold;
}
.text {
    font-size: 30px;
    font-weight: bold;
}
.buttons {
    text-align: center;
    margin-top: 30px;
    /* display: flex;
    justify-content: space-between;
    width: 300px; */
}
.btn {
    padding: 7px 25px;
    font-size: 15px;
    margin: 0 10px;
    color: #fff;
    border: 0px;
    cursor: pointer;
}
#start {
    background-color: #1abc9c;
}
#stop {
    background-color: #3490db;
}
#reset {
    background-color: #e74c3c;
}